<!-- Hero 5 -->
<section class="bsb-hero-5 px-3 bsb-overlay" style="background-image: url('https://images.pexels.com/photos/3183150/pexels-photo-3183150.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');">
    <div class="container">
    <div class="row justify-content-md-center align-items-center">
        <div class="col-12 col-md-11 col-lg-9">
        <h2 class="display-3 text-white text-center fw-bold mb-4">Buy Tech on Your Terms</h2>
        <p class="lead text-white text-center mb-5 d-flex justify-content-sm-center">
            <span class="col-12 col-sm-10">Drowning in vendor noise? We surface the 5% that actually matter.
                Buyt connects you only with tech vendors you’ve shown intent to evaluate, saving you time and missed opportunities.
            </span>
        </p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <button type="button" class="btn bsb-btn-2xl btn-outline-light">Join Waitlist</button>
        </div>
        </div>
    </div>
    </div>
</section>

<!-- Service 7 -->
<section class="bsb-service-7 py-5 py-xl-8">
    <div class="container">
    <div class="row justify-content-md-center">
        <div class="col-12 col-md-10">
        <h2 class="mb-4 display-5 text-center">How It Works</h2>
        <p class="text-secondary mb-5 text-center lead fs-4">Unlock Seamless Project Collaboration.</p>
        </div>
    </div>
    </div>

    <div class="container">
    <div class="row">
        <div class="col-12">
        <div class="container-fluid bg-light border shadow">
            <div class="row">
            <div class="col-12 col-md-4 p-0">
                <div class="card border-0 bg-transparent">
                <div class="card-body text-center p-5">
                    <svg xmlns="http://www.w3.org/2000/svg" width="56" height="56" fill="currentColor" class="bi bi-clock text-primary mb-4" viewBox="0 0 16 16">
                        <path d="M8 3.5a.5.5 0 0 1 .5.5v3.25l2.5 1.5a.5.5 0 0 1-.5.866l-2.75-1.65A.5.5 0 0 1 7.5 7V4a.5.5 0 0 1 .5-.5z"/>
                        <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm0-1A7 7 0 1 1 8 1a7 7 0 0 1 0 14z"/>
                        </svg>
                        
                    <h4 class="fw-bold text-uppercase mb-4">Eliminate Time Wasting</h4>
                    <p class="mb-4 text-secondary">Cut the noise. Keep only what matters.
                        Share your buying criteria upfront and eliminate irrelevant vendor outreach. Only solutions that solve your specific problems will reach you.
                    </p>
                    <a href="#!" class="fw-bold text-decoration-none link-primary">
                    Learn More
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z" />
                    </svg>
                    </a>
                </div>
                </div>
            </div>
            <div class="col-12 col-md-4 p-0 border-top border-bottom border-start border-end">
                <div class="card border-0 bg-transparent">
                <div class="card-body text-center p-5">
                    <svg xmlns="http://www.w3.org/2000/svg" width="56" height="56" fill="currentColor" class="bi bi-rocket text-primary mb-4" viewBox="0 0 16 16">
                    <path d="M8 8c.828 0 1.5-.895 1.5-2S8.828 4 8 4s-1.5.895-1.5 2S7.172 8 8 8Z" />
                    <path d="M11.953 8.81c-.195-3.388-.968-5.507-1.777-6.819C9.707 1.233 9.23.751 8.857.454a3.495 3.495 0 0 0-.463-.315A2.19 2.19 0 0 0 8.25.064.546.546 0 0 0 8 0a.549.549 0 0 0-.266.073 2.312 2.312 0 0 0-.142.08 3.67 3.67 0 0 0-.459.33c-.37.308-.844.803-1.31 1.57-.805 1.322-1.577 3.433-1.774 6.756l-1.497 1.826-.004.005A2.5 2.5 0 0 0 2 12.202V15.5a.5.5 0 0 0 .9.3l1.125-1.5c.166-.222.42-.4.752-.57.214-.108.414-.192.625-.281l.198-.084c.7.428 1.55.635 2.4.635.85 0 1.7-.207 2.4-.635.067.03.132.056.196.083.213.09.413.174.627.282.332.17.586.348.752.57l1.125 1.5a.5.5 0 0 0 .9-.3v-3.298a2.5 2.5 0 0 0-.548-1.562l-1.499-1.83ZM12 10.445v.055c0 .866-.284 1.585-.75 2.14.146.064.292.13.425.199.39.197.8.46 1.1.86L13 14v-1.798a1.5 1.5 0 0 0-.327-.935L12 10.445ZM4.75 12.64C4.284 12.085 4 11.366 4 10.5v-.054l-.673.82a1.5 1.5 0 0 0-.327.936V14l.225-.3c.3-.4.71-.664 1.1-.861.133-.068.279-.135.425-.199ZM8.009 1.073c.063.04.14.094.226.163.284.226.683.621 1.09 1.28C10.137 3.836 11 6.237 11 10.5c0 .858-.374 1.48-.943 1.893C9.517 12.786 8.781 13 8 13c-.781 0-1.517-.214-2.057-.607C5.373 11.979 5 11.358 5 10.5c0-4.182.86-6.586 1.677-7.928.409-.67.81-1.082 1.096-1.32.09-.076.17-.135.236-.18Z" />
                    <path d="M9.479 14.361c-.48.093-.98.139-1.479.139-.5 0-.999-.046-1.479-.139L7.6 15.8a.5.5 0 0 0 .8 0l1.079-1.439Z" />
                    </svg>
                    <h4 class="fw-bold text-uppercase mb-4">Missed Opportunity</h4>
                    <p class="mb-4 text-secondary">Tech waits for no one. We are on the cusp of an ai driven wave 
                        While you’re stuck in months-long sales cycles, your competitors have already implemented 3 AI solutions and are pulling ahead. Buyt helps you move faster.
                    </p>
                    <a href="#!" class="fw-bold text-decoration-none link-primary">
                    Learn More
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z" />
                    </svg>
                    </a>
                </div>
                </div>
            </div>
            <div class="col-12 col-md-4 p-0">
                <div class="card border-0 bg-transparent">
                <div class="card-body text-center p-5">
                    <svg xmlns="http://www.w3.org/2000/svg" width="56" height="56" fill="currentColor" class="bi bi-incognito text-primary mb-4" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="m4.736 1.968-.892 3.269-.014.058C2.113 5.568 1 6.006 1 6.5 1 7.328 4.134 8 8 8s7-.672 7-1.5c0-.494-1.113-.932-2.83-1.205a1.032 1.032 0 0 0-.014-.058l-.892-3.27c-.146-.533-.698-.849-1.239-.734C9.411 1.363 8.62 1.5 8 1.5c-.62 0-1.411-.136-2.025-.267-.541-.115-1.093.2-1.239.735Zm.015 3.867a.25.25 0 0 1 .274-.224c.9.092 1.91.143 2.975.143a29.58 29.58 0 0 0 2.975-.143.25.25 0 0 1 .05.498c-.918.093-1.944.145-3.025.145s-2.107-.052-3.025-.145a.25.25 0 0 1-.224-.274ZM3.5 10h2a.5.5 0 0 1 .5.5v1a1.5 1.5 0 0 1-3 0v-1a.5.5 0 0 1 .5-.5Zm-1.5.5c0-.175.03-.344.085-.5H2a.5.5 0 0 1 0-1h3.5a1.5 1.5 0 0 1 1.488 1.312 3.5 3.5 0 0 1 2.024 0A1.5 1.5 0 0 1 10.5 9H14a.5.5 0 0 1 0 1h-.085c.055.156.085.325.085.5v1a2.5 2.5 0 0 1-5 0v-.14l-.21-.07a2.5 2.5 0 0 0-1.58 0l-.21.07v.14a2.5 2.5 0 0 1-5 0v-1Zm8.5-.5h2a.5.5 0 0 1 .5.5v1a1.5 1.5 0 0 1-3 0v-1a.5.5 0 0 1 .5-.5Z" />
                    </svg>
                    <h4 class="fw-bold text-uppercase mb-4">Meaningful sales engagements </h4>
                    <p class="mb-4 text-secondary">Real conversations. No more discovery theatre.
                        Stop wasting time re-explaining your business. Your Buyt profile handles the backstory so every sales call starts where it should: with relevance.  
                    </p>
                    <a href="#!" class="fw-bold text-decoration-none link-primary">
                    Learn More
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z" />
                    </svg>
                    </a>
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
    </div>

</section>

<!-- Project 1 -->
<section class="bg-light py-3 py-md-5">
    <div class="container">
    <div class="row justify-content-md-center">
        <div class="col-12 col-md-10 col-lg-8">
        <h2 class="mb-4 display-5 text-center">Popular signals from your industry</h2>
        <p class="text-secondary mb-5 text-center lead fs-4">See what other buyers like you are actively exploring. Buyt lets you opt in to relevant vendors, not get spammed by the whole market.
            Whether you're automating compliance in fintech or deploying AI in retail, Buyt connects you to vendors solving your specific challenges.
        </p>
        <hr class="w-50 mx-auto mb-5 mb-xl-9 border-dark-subtle">
        </div>
    </div>
    </div>

    <div class="container overflow-hidden">
    <div class="row gy-3 gy-md-2 bsb-project-1-grid">
        <div class="col-12 col-md-6 col-lg-3 bsb-project-1-item">
        <figure class="rounded rounded-4 overflow-hidden bsb-overlay-hover">
            <a href="#!">
            <img class="img-fluid bsb-scale-up bsb-hover-scale" src="https://images.pexels.com/photos/7691740/pexels-photo-7691740.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Management">
            </a>
            <figcaption>
            <h3 class="text-white bsb-hover-fadeInLeft">AI in Finance</h3>
            <div class="text-white bsb-hover-fadeInRight">Management</div>
            </figcaption>
        </figure>
        </div>

        <div class="col-12 col-md-6 col-lg-6 bsb-project-1-item">
        <figure class="rounded rounded-4 overflow-hidden bsb-overlay-hover">
            <a href="#!">
            <img class="img-fluid bsb-scale bsb-hover-scale-up" src="https://images.pexels.com/photos/572056/pexels-photo-572056.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="ERP">
            </a>
            <figcaption>
            <h3 class="text-white bsb-hover-fadeInUp">RevOps Tools for SaaS</h3>
            <div class="text-white bsb-hover-fadeInDown">Resource Managemment</div>
            </figcaption>
        </figure>
        </div>

        <div class="col-12 col-md-6 col-lg-3 bsb-project-1-item">
        <figure class="rounded rounded-4 overflow-hidden bsb-overlay-hover">
            <a href="#!">
            <img class="img-fluid bsb-scale-up bsb-hover-scale" src="https://images.pexels.com/photos/12935074/pexels-photo-12935074.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Fianace">
            </a>
            <figcaption>
            <h3 class="text-white bsb-hover-fadeInLeft">Pipeline</h3>
            <div class="text-white bsb-hover-fadeInRight">Fianace</div>
            </figcaption>
        </figure>
        </div>

        <div class="col-12 col-md-6 col-lg-3 bsb-project-1-item">
        <figure class="rounded rounded-4 overflow-hidden bsb-overlay-hover">
            <a href="#!">
            <img class="img-fluid bsb-scale-up bsb-hover-scale" src="https://images.pexels.com/photos/8728380/pexels-photo-8728380.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Design">
            </a>
            <figcaption>
            <h3 class="text-white bsb-hover-fadeInLeft text-center">Retail AI & Automation</h3>
            <div class="text-white bsb-hover-fadeInRight">Business</div>
            </figcaption>
        </figure>
        </div>

        <div class="col-12 col-md-6 col-lg-3 bsb-project-1-item">
        <figure class="rounded rounded-4 overflow-hidden bsb-overlay-hover">
            <a href="#!">
            <img class="img-fluid bsb-scale-up bsb-hover-scale" src="https://images.pexels.com/photos/546819/pexels-photo-546819.jpeg?auto=compress&cs=tinysrgb&w=800" alt="Fashion">
            </a>
            <figcaption>
            <h3 class="text-white bsb-hover-fadeInLeft text-center">Cybersecurity for Healthcare</h3>
            <div class="text-white bsb-hover-fadeInRight">Health</div>
            </figcaption>
        </figure>
        </div>

        <div class="col-12 col-md-6 col-lg-3 bsb-project-1-item">
        <figure class="rounded rounded-4 overflow-hidden bsb-overlay-hover">
            <a href="#!">
            <img class="img-fluid bsb-scale-up bsb-hover-scale" src="https://images.pexels.com/photos/8294665/pexels-photo-8294665.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="AI">
            </a>
            <figcaption>
            <h3 class="text-white bsb-hover-fadeInLeft">AI Agents</h3>
            <div class="text-white bsb-hover-fadeInRight">AI</div>
            </figcaption>
        </figure>
        </div>

        <div class="col-12 col-md-6 col-lg-3 bsb-project-1-item">
        <figure class="rounded rounded-4 overflow-hidden bsb-overlay-hover">
            <a href="#!">
            <img class="img-fluid bsb-scale-up bsb-hover-scale" src="https://images.pexels.com/photos/38519/macbook-laptop-ipad-apple-38519.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Ecommerce">
            </a>
            <figcaption>
            <h3 class="text-white bsb-hover-fadeInLeft">E-Store</h3>
            <div class="text-white bsb-hover-fadeInRight">Ecommerce</div>
            </figcaption>
        </figure>
        </div>

        <div class="col-12 col-md-6 col-lg-3 bsb-project-1-item">
        <figure class="rounded rounded-4 overflow-hidden bsb-overlay-hover">
            <a href="#!">
            <img class="img-fluid bsb-scale-up bsb-hover-scale" src="https://images.pexels.com/photos/356040/pexels-photo-356040.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Health">
            </a>
            <figcaption>
            <h3 class="text-white bsb-hover-fadeInLeft">Diagnosis</h3>
            <div class="text-white bsb-hover-fadeInRight">Health</div>
            </figcaption>
        </figure>
        </div>

        <div class="col-12 col-md-6 col-lg-3 bsb-project-1-item">
        <figure class="rounded rounded-4 overflow-hidden bsb-overlay-hover">
            <a href="#!">
            <img class="img-fluid bsb-scale-up bsb-hover-scale" src="https://images.pexels.com/photos/8386440/pexels-photo-8386440.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Finance">
            </a>
            <figcaption>
            <h3 class="text-white bsb-hover-fadeInLeft">Automation</h3>
            <div class="text-white bsb-hover-fadeInRight">Finance</div>
            </figcaption>
        </figure>
        </div>
    </div>
    </div>
</section>

<section class="bsb-faq-2 bg-light py-3 py-md-5 py-xl-8">
    <div class="container">
    <div class="row gy-5 gy-lg-0">
        <div class="col-12 col-lg-6">
        <h2 class="h1 mb-3">Frequently Asked Questions</h2>
        <p class="lead fs-4 text-secondary mb-4">Have questions about finding professionals or getting project leads? Browse our FAQs below for quick answers. If you still need assistance, our support team is here to help.</p>
        <a href="#!" class="btn btn-lg bsb-btn-2xl btn-primary">Contact Us</a>
        </div>
        <div class="col-12 col-lg-6">
        <div class="row justify-content-xl-end">
            <div class="col-12 col-xl-11">
            <div class="accordion accordion-flush" id="accordionExample">
                <div class="accordion-item mb-4 shadow-sm">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button bg-transparent fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        How does Buyt work?
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                    <p>You create a Buyt profile that outlines what you’re in the market for your needs, contacts you typically run evaluations with and buying criteria. Vendors only reach out if they’re a fit, saving you time and keeping your inbox clean.</p>
                    </div>
                </div>
                </div>
                <div class="accordion-item mb-4 shadow-sm">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed bg-transparent fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Is Buyt free for buyers?
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo">
                    <div class="accordion-body">
                        Yes. Buyt is completely free for buyers. We believe buyers should never pay to stay in control of their own evaluation process.
                    </div>
                </div>
                </div>
                <div class="accordion-item mb-4 shadow-sm">
                <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed bg-transparent fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Can I browse vendors?
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree">
                    <div class="accordion-body">
                        No and that’s by design. Buyt flips the traditional model: instead of you searching for vendors or vendors attempting to connect to you we match you with ones that align with the buying signals you've shared.
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
    </div>
</section>

<!-- Contact 4 - Bootstrap Brain Component -->
<section class="bg-light py-3 py-md-5">
    <div class="container">
    <div class="row justify-content-md-center">
        <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6">
        <h3 class="fs-6 text-secondary mb-2 text-uppercase text-center">Get in Touch</h3>
        <h2 class="display-5 mb-4 mb-md-5 text-center">We're always on the lookout to assist you.</h2>
        <hr class="w-50 mx-auto mb-5 mb-xl-9 border-dark-subtle">
        </div>
    </div>
    </div>

    <div class="container">
    <div class="row gy-3 gy-md-4 gy-lg-0 align-items-xl-center">
        <div class="col-12 col-lg-6">
        <img class="img-fluid rounded" loading="lazy" src="https://images.pexels.com/photos/7682340/pexels-photo-7682340.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Get in Touch">
        </div>
        <div class="col-12 col-lg-6">
        <div class="row justify-content-xl-center">
            <div class="col-12 col-xl-11">
            <div class="bg-white border rounded shadow-sm overflow-hidden">

                <form action="#!">
                <div class="row gy-4 gy-xl-5 p-4 p-xl-5">
                    <div class="col-12 col-md-6">
                    <label for="email" class="form-label">Email <span class="text-danger">*</span></label>
                    <div class="input-group">
                        <span class="input-group-text">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                            <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z" />
                        </svg>
                        </span>
                        <input type="email" class="form-control" id="email" name="email" value="" required>
                    </div>
                    </div>
                    <div class="col-12 col-md-6">
                    <label for="phone" class="form-label">Phone Number</label>
                    <div class="input-group">
                        <span class="input-group-text">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone" viewBox="0 0 16 16">
                            <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z" />
                        </svg>
                        </span>
                        <input type="tel" class="form-control" id="phone" name="phone" value="">
                    </div>
                    </div>
                    <div class="col-12">
                    <label for="message" class="form-label">Message <span class="text-danger">*</span></label>
                    <textarea class="form-control" id="message" name="message" rows="3" required></textarea>
                    </div>
                    <div class="col-12">
                    <div class="d-grid">
                        <button class="btn btn-primary btn-lg" type="submit">Send Message</button>
                    </div>
                    </div>
                </div>
                </form>

            </div>
            </div>
        </div>
        </div>
    </div>
    </div>
</section>

<!-- Service 7 -->
<section class="bsb-service-7 py-5 py-xl-8">
    <div class="container">
    <div class="row justify-content-md-center">
        <div class="col-12 col-md-10">
        <h2 class="mb-4 display-5 text-center">Buyt's Positioning</h2>
        <p class="text-secondary mb-5 text-center lead fs-4">Unlocking the Intent Layer of B2B Sales</p>
        </div>
    </div>
    </div>

    <div class="container">
    <div class="row">
        <div class="col-12">
        <div class="container-fluid bg-light border shadow">
            <div class="row">
            <div class="col-12 col-md-4 p-0">
                <div class="card border-0 bg-transparent">
                <div class="card-body text-center p-5">                          
                    <h4 class="fw-bold text-uppercase mb-4">The Outreach Layer</h4>
                    <p class="text-secondary">Seller-controlled</p>
                    <p class="mb-4 text-secondary">No deal on the table yet. Sellers use outreach sequences with fragmented information gathered from social plat- forms</p>
                </div>
                </div>
            </div>
            <div class="col-12 col-md-4 p-0 border-top border-bottom border-start border-end bg-primary">
                <div class="card border-0 bg-transparent">
                <div class="card-body text-center p-5">
                    <h4 class="fw-bold text-uppercase mb-4 text-white">The Intent Layer</h4>
                    <p class="text-secondary text-white">Buyer-controlled</p>
                    <p class="text-secondary text-white">Buyers show pain or interest in eval- uating new technologies. Buyt lives here.</p>
                </div>
                </div>
            </div>
            <div class="col-12 col-md-4 p-0">
                <div class="card border-0 bg-transparent">
                <div class="card-body text-center p-5">
                    <h4 class="fw-bold text-uppercase mb-4">The Customer Layer</h4>
                    <p class="mb-4 text-secondary">Seller-controlled</p>
                    <p class="mb-4 text-secondary">Post-sale. Sellers time upsell and cross- sell motions to expand their footprint</p>
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
    </div>

</section>