<div class="col-12 col-md-4">
    <div class="p-3 border border-1 m-1 rounded">
        <strong><%= testimonial.client %></strong>
        <p><%= testimonial.details %></p>
        <% if current_seller && current_seller == @seller %>
            <%= link_to edit_seller_testimonial_path(testimonial.seller, testimonial), data: {turbo_frame: "testimonial"}, class: "btn btn-sm btn-primary" do %>
                <i class="bi bi-pencil"></i>
            <% end %>
            <%= link_to seller_testimonial_path(testimonial.seller, testimonial), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' do %>
                <i class="bi bi-trash"></i>
            <% end %>
        <% end %>
    </div>
</div>